footer {
  background-color: #fff;
  margin-top: 10px;
  border-top: 1px solid #e2e2e2;
}
.clearfix {
  display: block;
}
.footer__top {
  padding: 15px 0 15px;
}

footer section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.footer-col {
  float: left;
  width: 24%;
}
.f-listmenu {
  list-style-type: none;
  padding: 0;
}
.f-listmenu li {
  margin-bottom: 10px;
}
.f-listmenu p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  text-align: left;
}
.f-listmenu p span {
  color: rgb(47, 128, 237);
}

.footer-end {
  background-color: #f3f3f3;
  padding: 15px 0;
}
.f-social p i {
  margin-right: 5px;
  display: block;
}
.icon-fb {
  height: 18px;
  width: 20px;
}
.footer-end section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.footer-end section p {
  color: #666;
  font-size: 12px;
}
