@model thegioididong.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/admin.cshtml";
}

<style>

    .form-add {
        background-color: #fdcb6e;
        color: black;
        width: 1000px;
        margin-left:10%;
        height:500px;
        padding-top:30px;
        border-radius:10px;
    }

    .row {
        margin-top: 5%;
    }

        .row h1 {
            margin-left: -30px;
            text-align: center;
        }

    .form-group input {
        width: 400px;
    }
</style>
<div class="row">
    <div style="margin-top:40px; ">
        <h1>Thêm Sản Phẩm</h1>
        <div class=" form-add">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="display:flex;">
                    <div style="margin-right:50px; margin-left:60px">
                        <div class="form-group">
                            <label asp-for="Pro_Name" class="control-label">Tên Sản Phẩm</label>
                            <input asp-for="Pro_Name" class="form-control" />
                            <span asp-validation-for="Pro_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                <label asp-for="Id_manufacturer" class="control-label"></label>
                <select asp-for="Id_manufacturer" class="form-control" asp-items="ViewBag.Manufacturer"></select>
                <span asp-validation-for="Id_manufacturer" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Id_Category" class="control-label"></label>
                <select asp-for="Id_Category" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="Id_Category" class="text-danger"></span>
            </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label">Giá</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ram" class="control-label"></label>
                            <input asp-for="Ram" class="form-control" />
                            <span asp-validation-for="Ram" class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Rom" class="control-label"></label>
                            <input asp-for="Rom" class="form-control" />
                            <span asp-validation-for="Rom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Des " class="control-label" >Mô Tả Sản Phẩm </label>

                            <textarea asp-for="Des" class="form-control" style="width:400px;height:210px;">  </textarea>
                            <span asp-validation-for="Des" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display:flex ; padding-top:30px;">

                            <input type="submit" value="Tạo sản phẩm" class="btn btn-primary" style="width:130px;" />
                            <div style=" padding-left:30px">
                                <a asp-action="Index" class="btn btn-danger">Quay về trang</a>
                            </div>
                        </div>
                    </div>

                </div>




            </form>
        </div>
    </div>


</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
